@model List<Course>
@{
    ViewData["Title"] = "Courses";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Courses</h4>
                    <div class="table-responsive">
                        <a class="btn btn-primary" asp-action="Create">Create</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Students</th>
                                    <th>Start</th>

                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/assets/img/course/@course.Image" />
                                        </td>
                                        <td>@course.Name</td>
                                        <td>@course.Price $</td>
                                        <td>@course.Students</td>
                                        <td>@course.Start</td>
                                        <td>
                                            <a class="btn btn-success" asp-action="Detail" asp-route-id="@course.Id">Detail</a>
                                            <a class="btn btn-warning" asp-action="Update" asp-route-id=@course.Id>Update</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id=@course.Id>Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
