@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}
<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(assets/img/slider/slider2.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="slide-content-wrapper">
                                <div class="slide-content text-center">
                                    <h2>EDUCATION MAKES HUMANITY</h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" href="~/assets/about.html">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(assets/img/slider/slider3.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="slide-content-wrapper">
                                <div class="slide-content text-center">
                                    <h2>EDUCATION MAKES HUMANITY </h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" href="~/assets/about.html">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
        <!-- Start Slingle Slide -->
        <div class="single-slide item" style="background-image: url(assets/img/slider/slider1.jpg)">
            <!-- Start Slider Content -->
            <div class="slider-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="slide-content-wrapper">
                                <div class="slide-content text-center">
                                    <h2>EDUCATION MAKES HUMANITY </h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and prsing pain was born and I will give you a complete account of the system  </p>
                                    <a class="default-btn" href="~/assets/about.html">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Slider Content -->
        </div>
        <!-- End Slingle Slide -->
    </div>
</section>
<!-- Background Area End -->
<!-- About Start -->
<div class="about-area pb-155  pt-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>WELCOME TO <span>EDUHOME</span></h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness</p>
                    <p class="hidden-sm">I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system</p>
                    <a class="default-btn" href="~/assets/about.html">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="~/assets/img/about/about.png" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-100 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section1.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model.Courses)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-action="Detail" asp-controller="Course" asp-route-id="@course.Id">
                                <img style="width:370px; height:249px; object-fit:cover" src="~/assets/img/course/@course.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content" style="width:370px; height:220px">
                            <h3><a asp-action="Detail" asp-controller="Course" asp-route-id="@course.Id">@course.Name</a></h3>
                            <h4 style ="height:70px; margin-bottom:15px; overflow:hidden; font-weight:500">@Html.Raw(course.Description)</h4>
                            <a class="default-btn" asp-action="Detail" asp-controller="Course" asp-route-id="@course.Id">read more</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var eventItem in Model.Events)
            {
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-event mb-35">
                        <div class="event-img">
                            <a asp-action="Detail" asp-controller="Event" asp-route-id="@eventItem.Id"><img style="width:210px; height:191px; object-fit:cover" src="~/assets/img/event/@eventItem.Image" alt="event"></a>
                        </div>
                        <div class="event-content text-left" style="height:191px;">
                            <h3>@eventItem.StartTime.ToString("dd MMMM, yyy")</h3>
                            <h4><a asp-action="Detail" asp-controller="Event" asp-route-id="@eventItem.Id">@eventItem.Name</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>@eventItem.StartTime.ToString("HH:mm tt") - @eventItem.EndTime.ToString("HH:mm tt")</li>
                                <li><i class="fa fa-map-marker"></i>@eventItem.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="Detail" asp-controller="Event" asp-route-id="@eventItem.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Blog Area Start -->
<div class="blog-area pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in Model.Blogs)
            {                
               <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                            <a asp-action="Detail" asp-controller="Blog" asp-route-id="@blog.Id"><img style="width:370px; height:249px; object-fit:cover" src="~/assets/img/blog/@blog.Image" alt="blog"></a>
                        <div class="blog-hover">
                            <a asp-action="Detail" asp-controller="Blog" asp-route-id="@blog.Id"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                            <div class="blog-top" style="width:370px; height:50px;">
                                <p>By @blog.CreatedBy  /  @blog.CreatedAt.ToString("MMMM dd, yyy")</p>
                        </div>
                            <div class="blog-bottom" style="width:370px; height:137px;">
                                <h2 style="height:50px; overflow:hidden"><a asp-action="Detail" asp-controller="Blog" asp-route-id="@blog.Id">@Html.Raw(blog.Description)</a></h2>
                            <a href="~/assets/blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>subscribe</h2>
                    <p>We will send you an e-mail when we have a new event</p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form method="post">
                        <div>
                            @if (!ViewBag.IsLog)
                            {
                                <input asp-for="SubscribeViewModel.Email" class="email" placeholder="Enter your e-mail address">
                                <button class="default-btn" type="submit">subscribe</button>

                            }
                            else
                            {
                                <button style="margin-right:310px;" class="default-btn" type="submit">subscribe</button>
                            }
                        </div>
                        <span asp-validation-for="SubscribeViewModel.Email" class="text-danger"></span>
                    </form>
                    <!-- mailchimp-alerts Start -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->
